<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring Boot Thymeleaf</title>
</head>
<body>
<h1>Welcome to Spring Boot Thymeleaf!</h1>
<a href="/oauth2/authorization/google">google login</a>
<div th:if="${session.user != null}">
  <p th:text="${session.user.getName()}"></p>
  <p th:text="${session.user.getEmail()}"></p>
  <img th:src="${session.user.getPicture()}"></img>
</div>

<form action="#" th:action="@{/analys/upload}" method="post" enctype="multipart/form-data">
  <input type="file" name="file" />
  <input type="submit" value="Upload" />
</form>
<ul th:if="${analys != null}">
  <li th:text="${analys}"></li>
</ul>

</body>
</html>
